[2018-01-12 16:13] lpabon opened #10 "Add test for node/NodePublishVolume"

[2018-01-12 16:13] lpabon opened #11 "Add test for node/GetNodeID"

[2018-01-12 16:14] lpabon opened #12 "Add test for node/NodeProbe"

[2018-01-12 16:14] lpabon opened #13 "Add test for node/NodeUnpublishVolume"

[2018-01-12 16:14] lpabon opened #14 "Add test for node/NodeGetCapabilities"

[2018-01-12 16:15] lpabon opened #15 "NodePublishVolume should return error if the target path does not exist"

[2018-01-12 16:19] lpabon opened #16 "Add a test for controller/GetCapacity _if_ supported in GetCapabilities"

[2018-01-12 16:19] lpabon opened #17 "Add a test for controller/DeleteVolume"

[2018-01-12 16:19] lpabon opened #18 "Add a test for controller/CreateVolume"

[2018-01-12 16:19] lpabon opened #19 "Add a test for controller/ListVolume _if_ supported in GetCapabilities"

[2018-01-12 16:19] lpabon opened #20 "Add test for controller/ValidateVolumeCapabilities"

[2018-01-12 16:19] lpabon opened #21 "Add test for controller/ControllerUnpublishVolume _if_ supported in GetCapabilities"

[2018-01-12 16:19] lpabon opened #22 "Add test for controller/ControllerPublishVolume _if_ supported in GetCapabilities"

[2018-01-12 16:19] lpabon opened #23 "Add test for controller/ControllerGetCapabilities"

[2018-01-23 20:12] lpabon opened #26 "GetCapabilities support"

[2018-01-23 22:02] #16 closed

[2018-01-23 22:02] #19 closed

[2018-01-23 22:02] #26 closed

[2018-01-24 01:32] lpabon commented on #20
assigned to @edisonxiang

[2018-01-24 01:33] lpabon commented on #23
assigned to @edisonxiang

[2018-01-24 02:52] #23 closed

[2018-01-24 02:53] lpabon commented on #21
assigned to @edisonxiang

[2018-01-24 02:53] lpabon commented on #22
assigned to @edisonxiang

[2018-01-24 02:54] lpabon commented on #17
assigned to @edisonxiang

[2018-01-24 03:38] edisonxiang commented on #17
/assign @edisonxiang

[2018-01-24 04:26] #17 closed

[2018-01-24 06:14] #20 closed

[2018-01-24 15:35] #21 closed

[2018-01-24 15:35] #22 closed

[2018-01-24 15:37] #10 closed

[2018-01-24 15:37] #11 closed

[2018-01-24 15:37] #12 closed

[2018-01-24 15:37] #13 closed

[2018-01-24 15:37] #14 closed

[2018-01-24 21:29] #15 closed

[2018-01-25 04:12] #18 closed

[2018-02-27 19:07] davidz627 opened #45 "Tests for Probe"
Tests do not currently exist for Probe. They should be added in `pkg/sanity/identity.go`

This TODO was introduced by #43

[2018-02-27 19:08] davidz627 opened #46 "Tests for NodeStageVolume/NodeUnstageVolume"
Tests do not currently exist for NodeStageVolume/NodeUnstageVolume. They should be added to `pkg/sanity/node.go`

This TODO was introduced by #43

[2018-02-27 19:12] davidz627 opened #47 "Tests for Secrets"
There are currently no tests for v0.2.0 secrets. Tests for these should be added for all secrets in the following calls:

`CreateVolume`
`DeleteVolume`
`ControllerPublishVolume`
`ControllerUnpublishVolume`
`NodePublishVolume`
`NodeStageVolume`

[2018-03-02 18:30] sbezverk opened #48 "Proposed E2E test for sanity check"
Below is the list of tests proposed to implement for E2E sanity check, please review and provide your feedback:

**CreateVolume:**
1. Create volume with specific name and then create volume with the same name (Should not fail)
2. Create volume with specific name and then create volume with the same name but different capacity (Should fail with 6 ALREADY_EXISTS)
3. Create volume with incompatible s

[2018-03-06 22:40] davidz627 opened #52 "CSI Sanity conflates unit and E2E tests"
Looking at CSI Sanity, it seems that it is running unit and e2e tests in the same framework.

For example in one suite "NodeUnpublishVolume" it will have unit tests like "should fail when no volume id is provided." That could be exercised on the driver with mocked out back-ends. This makes sure there are no side-effects or other unrelated errors that arise from this test hitting real back-ends.

A

[2018-03-06 22:40] davidz627 commented on #52
@lpabon @sbezverk @saad-ali

[2018-03-06 23:55] sbezverk commented on #52
@davidz627 afaik there are two mock drivers, one used for unit tests and the other one used in e2e. I was under impression that unit tests are using @lpabon developed mock driver and e2e tests are using new mock driver we forked recently. Latter  I thought would be sort of a reference driver for e2e tests as it will implement full driver's functionality.  Does it go against to what you proposing?

[2018-03-07 00:21] davidz627 commented on #52
I am talking about splitting the CSI Sanity testing package into two pieces. A "csi-sanity-unit" and "csi-sanity-e2e". These could then be imported to any external driver and used for testing of that driver (mock, hostpath, gce, portworx, etc.).

My argument is that unit and e2e tests are different enough that they should be split up so that they can be deployed/run differently for each driver. As

[2018-03-10 04:31] lpabon opened #56 "Change the name of the e2e test program currently called mock"
There are two things called `mock`. One is the Golang mock driver automatically generated and used by clients of CSI for unit testing. The other is the program used by `csi-sanity` for unit tests. This other program can have the name changed so that the confusion is removed.

[2018-03-12 18:16] davidz627 commented on #52
Talked to @sbezverk and @lpabon offline. We will not be splitting the sanity test into unit/e2e parts because it is just meant to test conformance with the Spec. The Sanity package is not meant to actually E2E test data plane or internal behavior of the plugin.

However, I will still be cleaning up the code a little and factoring duplicated code into functions so even if we want to call the same t

[2018-03-20 19:47] davidz627 commented on #52
Fixed in: 53

[2018-05-09 16:32] #46 closed

[2018-05-24 14:47] jessfraz opened #71 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-06-01 14:26] pohly opened #73 "pkg/sanity usage as non-root user"
When following https://github.com/kubernetes-csi/csi-test/blob/master/pkg/sanity/README.md and running "go test" as normal user (!), tests involving mounting/unmounting fail because those are privileged operations.

Running "sudo go test" isn't a good solution, because then building also runs as root. This is not desirable and can also fail because the environment variables for Go end up being dif

[2018-06-06 00:44] #47 closed

[2018-06-06 00:48] lpabon commented on #73
If this is run from `go test` then as a user I would suggest building a binary and using that as sudo. csi-test should not know what user it is used as.

[2018-06-06 07:31] pohly commented on #73
Luis Pabón <notifications@github.com> writes:

I was aware of that option and found it that rather inconvenient. "dlv
test" also doesn't work out-of-the-box.

But okay, let's close this.

[2018-06-06 07:31] #73 closed

[2018-06-28 15:18] Akrog opened #86 "Missing readonly field on ControllerPublishVolume call"
Using csi-sanity-v0.2.0-1.linux.amd64.tar.gz to run `csi-sanity` against the cinderlib-CSI plugin results in the following error:

[code]

I can confirm, looking at the TCP dump of the communication, that on the GRPC call to `ControllerPublishVolume` only fields number 1, 2, and 3 are present.  So field number 4, that corresponds to `readonly`, is not present.

According to the [CSI spec v0.2.0](h

[2018-07-03 22:32] msau42 opened #87 "Sanity test requires NodeServiceCapability but CSI doesn't"
CSI spec says the NodeServiceCapabilities is optional:
[code]

However, the sanity test fails if the node service returns 0 or nil node capabilities:
[code]

[2018-07-03 23:41] msau42 opened #88 "NodePublishVolume test doesn't set volume attributes returned by CreateVolume"
The CSI spec is a little confusing. It says that the VolumeAttributes field is optional, but must match the attributes of the volume:
[code]

[2018-07-04 00:33] msau42 opened #89 "Sanity tests may not always cleanup"
There are two problems with the tests:
1. The CreateVolume request could succeed, but subsequent validation could fail.  DeleteVolume() is skipped in those cases so the volume never gets cleaned up.
2. Almost all the tests call CreateVolume with volume id "sanity".  It would be better to use unique names for every test case to avoid potential false positives and issues where a previously failing t

[2018-07-04 14:50] pohly commented on #89
Reusing the same volume ID also prevents running specs in parallel. I'm encountering that right now.

I'll work on a fix.

[2018-07-04 14:56] pohly commented on #89
@msau42 should each test *case* have a unique name or also each test *run*? In other words, is is okay to have fixed names like `sanity-controller-single-with-capacity` (unique for each test case) or do we need random names like `sanity-44de2d24-7f9a-11e8-8a87-77571b0768c3`?

I prefer `sanity-controller-single-with-capacity`. It makes it easier to follow and repeat tests, but of course the downsid

[2018-07-04 15:04] pohly commented on #89
Does it make sense to run the exact same test twice, under different names?

See NodeStageVolume and NodeUnstageVolume - both run testFullWorkflowSuccess.

[2018-07-04 15:09] pohly commented on #89
Not twice - four times!

[2018-07-04 18:45] saad-ali commented on #88
The intention is that if it is returned by the volume plugin on a `CreateVolumeResponse` it must be passed on on subsequent `PublishVolume` requests. csi-test should verify this behavior, and optionally we should clarify the wording of this in the spec.

[2018-07-09 17:19] msau42 commented on #89
If the driver is persisting volume names to disk, then the issue could still exist.  Mine only keeps the names in memory, so it's fine for me.

I think the tests could also be restructured a bit to add the volume cleanup to an aftereach so that it will always happen even if the test errors early.

[2018-07-09 21:37] msau42 commented on #87
/assign

[2018-07-09 21:38] msau42 commented on #88
/assign

[2018-07-10 06:59] pohly commented on #89
Okay, so let's use a unique suffix. I'll also add the cleanup and restructure the tests so that the testFullWorkflowSuccess test only runs once.

[2018-07-10 17:33] #87 closed

[2018-07-10 17:40] #88 closed

[2018-07-13 09:02] Akrog commented on #86
Closing this, as it seems like it's [normal behavior for Proto3](https://developers.google.com/protocol-buffers/docs/proto3#default).  It's stated that:  "note that if a scalar message field is set to its default, the value will not be serialized on the wire."  and the default value for bools is false.

[2018-07-13 09:02] #86 closed

[2018-07-13 11:43] CTrox opened #94 "Test fails if CapacityBytes is always 0"
According to the [CreateVolume specs](https://github.com/container-storage-interface/spec/blob/master/spec.md#createvolume) a volume should not set `CapacityBytes` (or set it to 0) to indicate that the capacity is unknown.
[code]
When running the test `CreateVolume [Controller Server] [It] should fail when requesting to create a volume with already exisiting name and different capacity.` it fails

[2018-08-01 14:12] #89 closed

[2018-08-08 21:31] saad-ali opened #101 "Flaky test `ListSnapshots [Controller Server] should return empty when the specify source volume id is not exist`"
The following test fails in travis randomly:

[code]

[2018-08-08 21:33] #71 closed

[2018-08-16 13:26] sanjid133 opened #103 "Support volume name generate interface"
There are some cloud provider like **Linode**, has some constraints on volume (like volume id is integer number). So, It will be helpful to add a `VolumeNameGenerate interface{}`, then pass it to the controller.

[2018-08-16 13:29] sanjid133 commented on #103
cc: @displague @tamalsaha

https://github.com/pharmer/csi-test/pull/1

[2018-08-16 13:32] tamalsaha commented on #103
Linode's csi driver https://github.com/displague/csi-linode

[2018-08-28 12:30] tamalsaha commented on #103
@@saad-ali, do you mind taking a look?

[2018-08-30 02:18] bswartz opened #104 "ListSnapshots test makes invalid assumption about NextToken"
https://github.com/kubernetes-csi/csi-test/blob/master/pkg/sanity/controller.go#L1352
says
Expect(nextToken).To(Equal(strconv.Itoa(maxEntries)))

The ListSnapshots tests assumes that the NextToken field of the ListSnapshotsResponse message is a string representation of an integer. It also assumes that integer is equal to MaxEntries. The CSI spec says neither of these things, so this is a bad test.

[2018-08-30 08:42] pohly commented on #101
Looks like the issue that was reported by @darkowlzz in PR #97 and PR #98.

It's not specific to csi-test: the sidecar containers and kubelet can also run into intermittent connection problems. IMHO this needs further discussion and a consistent approach for retrying either the connection attempt in the custom dialer for Unix domain sockets or the gRPC request (as in PR #97). This is getting compl

[2018-08-30 13:24] bswartz opened #106 "Need to test other access modes"
Currently we only test the SINGLE_NODE_WRITER access mode. I suggest we add positive and negative test cases for every supported access mode:

SINGLE_NODE_WRITER
* should succeed with single readonly publish
* should succeed with single writable publish
* should fail with multiple publishes

SINGLE_NODE_READER_ONLY
* should succeed with single readonly publish
* should fail with single writable pu

[2018-08-30 16:10] bswartz opened #107 "Need tests around string limits"
The CSI spec says that strings should not exceed 128 bytes and string maps should not exceed 4096 bytes. It's not clear where this enforcement should happen, but it would be nice to have tests that validate that plugin don't return strings that exceed these limits and negative tests that exceed these limits.

More importantly, we need tests that create volumes/snapshots using the maximum length na

[2018-08-30 17:47] bswartz opened #108 "Need test cases for unicode volume/snapshot names"
Although it's not clearly stated, the CSI spec allows Unicode names to be specified for volumes and snapshot. A naively implement plugin might take the suggested name and use it somewhere where Unicode characters aren't supported, and the bug might not get caught if all of the test cases use ASCII names. We should send some non-ASCII names to the plugin and expect success.

[2018-08-31 17:59] #104 closed

[2018-08-31 19:34] saad-ali commented on #103
Sorry I don't follow. Can you clarify what behavior you want from what component? What will `VolumeNameGenerate interface{}` do?

[2018-09-04 05:28] #101 closed

[2018-09-04 16:00] #107 closed

[2018-09-05 07:39] pohly opened #113 "enable K8S PR dashboard ("Gubernator")"
https://k8s-gubernator.appspot.com/pr is a useful overview of PRs that need attention. Repositories explicitly need to be enabled to show up there, see https://github.com/kubernetes/test-infra/blob/master/gubernator/README.md#adding-a-repository-to-the-pr-dashboard

Can we do that for csi-test and all other repos under kubernetes-csi?

[2018-09-07 18:05] lpabon commented on #94
Great point. I will check this out.

[2018-09-07 18:07] lpabon commented on #103
I think we can add this as a switch to csi-sanity. This switch would then notify csi-sanity to use a specific name type. This is a good suggestion and an easy fix.

[2018-09-07 18:07] lpabon commented on #106
👍

[2018-09-07 18:08] lpabon commented on #113
That's a good question, let me check it out. We should also bring it to the attention of the rest of the kubernetes-csi community

[2018-09-11 04:28] leakingtapan commented on #45
This is done. https://github.com/kubernetes-csi/csi-test/blob/master/pkg/sanity/identity.go#L64 We could resolve it?

[2018-09-11 16:04] #45 closed

[2018-09-13 02:38] wackxu opened #114 "remove test case for starting_token when ListSnapshots"
talked with @xing-yang and @jingxu97 , different storage provider might use different way to generate token. now the test case is specific to hostpath snapshotter implementation. so we should delete the test case.
 ref https://github.com/kubernetes-csi/csi-test/pull/83#commitcomment-30484278

[2018-09-22 18:31] #114 closed

[2018-09-24 16:38] lpabon opened #118 "Need a CreateVolume call from Snapshot"
I noticed that one of the tests missing is around creating Volumes from snapshots.

[2018-10-09 09:16] pohly opened #123 "support CreateVolumeRequest parameters"
Some CSI drivers, like ceph-csi, depend on volume parameters. Unless I have missed something, those parameters currently cannot be set when using the csi-sanity command and pkg and thus ceph-csi cannot be tested with it.

We should add a config file for parameters similar to what is already supported for secrets.

[2018-10-15 13:57] humblec opened #124 "Strict check of pagination in listsnapshot() test code when pagination is an optional value in the spec."
[code]

The pagination is an **`optional`** param in CSI spec, however CSI tests are failing if driver dont implement support for pagination.

For ex:
[code]

Expected result: The test should not fail if CSI driver dont have capabilities to support pagination.

[2018-10-15 13:58] humblec commented on #124
/assign @lpabon

[2018-10-18 15:44] pohly commented on #113
Came up again on Slack today and dims created the necessary web hooks. I'll close it once I see it working.

/assign

[2018-10-18 15:45] pohly commented on #113
It works... and it promptly reminded me that some of my PRs are still pending ;-}

[2018-10-18 15:45] #113 closed

[2018-10-23 00:29] wk8 opened #126 "Is this repo actively maintained?"
I'm a sr dev with Docker, and could make some time to help on this repo; it seems to me that having a simple, canonical way of testing CSI drivers' compliance would be of great value to the community.

However, it's not obvious what the state of this repo is; is it still actively maintained? And/or are more maintainers welcome? Where could I best start helping?

Thanks!

[2018-10-23 06:36] pohly commented on #126
It is maintained, albeit perhaps not as actively as it could be, due to lack of time. I myself recently became a Kubernetes member and approver for this repo, but have been busy with other things.

So help would definitely be welcome.

[2018-10-23 11:35] jsafrane opened #127 "Images on quay.io can't run"
[code]

The reason is that `mock` binary inside the container can't be dynamically linked:

[code]

I've no clue how the image was built, perhaps some hiccup on travis.

[2018-10-24 20:38] wk8 commented on #126
Thanks for the reply @pohly . Anything in particular that's more urgent?

[2018-10-25 08:28] pohly commented on #126
Not really. You might want to have a look at the list of open issues. Some of them might need help or became stale and can be closed.

[2018-10-28 02:59] Gambler13 commented on #107
Any chance to make the name length configurable?
I'm writing a CSI driver, but the storage provider supports only a length of 64 bytes.

[2018-10-29 10:02] pohly commented on #107
@Gambler13 as discussed in https://github.com/kubernetes-csi/csi-test/pull/110#pullrequestreview-151913616, the CO is allowed to pass a name that is longer than 64 characters. If your CSI driver can't support that, it may fail randomly with different COs.

Or are you planning to only use the CSI driver with a CO that is guaranteed to use shorter names?

[2018-10-29 15:47] bswartz commented on #107
@Gambler13 The CSI spec doesn't require that you can store the name, only that you can accept names up to 128 bytes long. If your storage is limited, then for correctness sake you can hash the input string down to 128 bits (with MD5, for example), and store the hash instead, which requires only 32 bytes in base-16 encoding. This solution is less pretty, but will meet the specification.

[2018-10-29 16:16] Gambler13 commented on #107
Of course, but the test suite is checking the volume name after the VolumeCreate method. If I truncate the name to 64 bytes before calling the storage API, the test still fails.
Anyway, I can live with it. Thank you for your fast answers.

[2018-10-29 18:05] pohly commented on #107
Gambler13 <notifications@github.com> writes:

Which check fails? Can you link to the line in the test?

[2018-10-29 18:45] bswartz commented on #107
Truncation is not correct. The semantic value of the volume name is that it should be used for idempotency. If you get 2 create requests with the same name, you should treat the second one as a retry of the first operation. If you get requests with different names, _even with the same 127 byte prefix_, you should create 2 separate volumes. You can only implement these semantics if you either store

[2018-10-31 12:09] jsafrane commented on #127
/reopen

It's still broken in v0.3.0-2:

[code]

today's canary is the same.

[2018-11-01 06:50] wnxn opened #132 "Need to delete snapshot before deleting volume"
Hi,
It is better to delete snapshot before deleting volume at cleaning up stage of ListSnapshots testcase. So, we could change the cleaner:
https://github.com/kubernetes-csi/csi-test/blob/3e3231b4e4af4cf62615a435ca4dd0e70d63fbde/pkg/sanity/controller.go#L1208-L1216

to：
https://github.com/kubernetes-csi/csi-test/blob/3e3231b4e4af4cf62615a435ca4dd0e70d63fbde/pkg/sanity/controller.go#L1251-L1259

[2018-11-02 10:12] humblec commented on #124
@wackxu Thanks , please share if you have a PR.

[2018-11-08 10:43] #132 closed

[2018-11-13 14:43] fatih opened #137 "Broken release `v0.3.0-3`"
Hi,

I was using `v0.3.0-2` for https://github.com/digitalocean/csi-digitalocean with the CSI Spec `v0.3.0` tagged release (see: https://github.com/container-storage-interface/spec/releases/tag/v0.3.0).

I decided to upgrade to `v0.3.0-3` as it was including the latest changes.  However when I upgrade it, my test are failing due the following error:

[code]

When I check the CSI `v0.3.0` version,

[2018-11-13 18:36] lpabon commented on #137
Thank you for bringing this up @fatih . @pohly figured out that the CSI spec had been changed in our repo.  Also, the importing issue, is new to me. I'll have to investigate.

[2018-11-15 14:53] displague commented on #103
If you can provide a little more detail on how you would have this implemented, I'll send the PR.

[2018-11-15 21:46] lpabon commented on #103
i think adding an implementation for volume generation would be good, but needs to be part of csi-test repo so that it can be used from csi-sanity tool.

[2018-11-15 21:47] lpabon commented on #103
This does feel weird, that the spec says it is a string but really they are numbers. I think this really should go to CSI spec to modify the documentation and explain that the CO should create names using string-numbers only.

[2018-11-20 21:16] lpabon commented on #137
We have released 1.0.0 and are working on a new 0.3.0-4 (#140) release

[2018-11-23 16:10] pohly commented on #137
0.3.0-4 has been tagged.

Note that "dep" does not pick it up unless explicitly chosen with `version = "0.3.0-4"` because of the -4 suffix. Future stable releases should be using just x.y.z as version numbers.

/close

[2018-11-23 16:10] #137 closed

[2018-11-23 16:11] pohly commented on #126
/close

[2018-11-23 16:11] #126 closed

[2018-11-23 16:15] pohly opened #142 "sanity: support different addresses for controller and node operations"
Currently the sanity pkg connects to the CSI driver at a single address and expects to find all services there. Not all CSI drivers are deployed like that and some might not even support all services in the same binary. Therefore I propose to have Config.Address (as it is now) and to add an optional Config.ControllerAddress that gets used if set when connecting to the controller.

[2018-11-23 16:22] pohly opened #143 "sanity: avoid defining unusable tests"
I'm using the sanity testing in a mode where the driver gets deployed anew for each individual test. It's annoying and slow that many tests then just get skipped after querying the driver's capabilities.

This could be avoided like this:
- extend sanity.Config so that it has static driver capabilities
- check those capabilities *before* defining a test that depends on them and then don't define th

[2018-11-23 19:42] pohly opened #144 "sanity: more flexible mount and staging directory creation"
When testing against a driver that was deployed in a real cluster, creating the mount and staging directories has to happen inside the cluster on the node on which the driver under testing is running. Doing that is specific to the test, so the sanity package should leave the work to some callbacks in sanity.Config if they are defined (must remain optional).

[2018-11-26 21:09] rodrigc opened #146 "Add support for generating a JUnit XML test report file"
It would be very handy if csi-sanity and other test suites can be enhanced to generate
a JUnit XML test report file:

https://onsi.github.io/ginkgo/#generating-junit-xml-output

This will help integrate with the Jenkins test report viewer

[2018-11-27 08:36] pohly commented on #146
You want this to be added to the csi-sanity command, right?

When defining your own test suite, you can already add the necessary code, nothing in csi-test must be modified for that.

/help-wanted

[2018-11-27 13:20] rodrigc commented on #146
@pohly Yes, my request is for this to be added to the csi-sanity command.

[2018-12-05 18:29] mattsmithdatera opened #148 "ValidateVolumeCapabilities Fails Because It Calls Non-existing Volume"
Reproduction:
v1.1.0 branch
[code]
All tests pass except ValidateVolumeCapabilities which fails for the below reason.
[code]
You can see that the volume created for this test was ``sanity-controller-validate-053C02BC-18C78554``, but the volume called for the test in the ValidateVolumeCapabilities step is ``some-vol-id``.

For some reason, the original volume-id isn't being used during subsequent s

[2018-12-05 19:29] antonfisher opened #149 "Starting v0.3.4 release asset binaries don't work in Alpine container"
Hi, working on our CI, I noticed this.

Release v0.3.0-4 works fine but starting from release v0.3.4 asset binaries on [releases page](https://github.com/kubernetes-csi/csi-test/releases) doesn't work in an Alpine container. The same is true for 1.0.2.

It seems like assets have been built with different flags than [Makefile](https://github.com/kubernetes-csi/csi-test/blob/release-0.3/Makefile#L30

[2018-12-06 14:38] pohly commented on #148
Just to clarify, this happens because your ValidateVolumeCapabilities checks for a valid volume ID?

I agree, the test should be using a valid volume. Care to submit a PR which fixes that? If so, please do it against master, it can and will be backported.

[2018-12-06 22:55] mattsmithdatera commented on #148
ValidateVolumeCapabilities checks for a non-existing volume ID.  The create volume call in the test creates CSI volume: ``sanity-controller-validate-053C02BC-18C78554``, but the validate volume call isn't looking for that volume, instead it's looking for volume: ``some-vol-id`` which was never created.

[2019-02-12 08:21] #148 closed

[2019-02-12 09:08] #146 closed

[2019-03-05 14:27] shay-berman commented on #142
I think its good input
Some driver may implement node\identity in golang but controller in python (for what ever reason). Allow to run only the node tests will be used full for such use case.

In addition(I think in some way its related), is there a way to selectively specify the APIs we want to run sanity with?  For example csi-node but only nodepublish.

[2019-03-05 20:24] pohly commented on #142
Why does it matter whether the controller is written in Python? As long as it implements the gRPC API correctly, it can be tested with csi-sanity.

Regarding running only some tests: the `csi-sanity` command is a Ginkgo test suite. You can use `-ginkgo.focus` to run only some tests.

[2019-03-05 23:56] msau42 opened #174 "sanity: add test cases for block volumes"
/assign @bswartz

[2019-03-06 06:30] shay-berman commented on #142
Hi @pohly , I just gave an example where the controller and the node will not be on a single address (because one written in python and the other in golang).   So this issue is important.

About ginko.focus, yes you right, but can u do it also from the csi-test CLI?

[2019-03-06 14:27] pohly commented on #142
That makes sense. What I don't understand is the "allow to run only the node tests" part.

Yes, because it is a Ginkgo test suite. The Ginko runner is only a wrapper which passes those parameters through to the test suite. Try `csi-sanity -help`...

[2019-03-11 07:47] yamunadevins opened #175 "csi-sanity -h csi-sanity: command not found"
Hi,

I have pulled the latest image using docker pull , it is only pulling mock driver, csi-sanity command is throwing not found , how to invoke the csi-sanity command
quay.io/k8scsi/mock-driver
quay.io/k8scsi/csi-node-driver-registrar
quay.io/k8scsi/driver-registrar
k8s.gcr.io/kube-proxy
k8s.gcr.io/kube-apiserver
k8s.gcr.io/kube-scheduler
k8s.gcr.io/kube-controller-manager
quay.io/calico/node
qua

[2019-03-11 10:29] pohly commented on #175
There are no pre-built csi-sanity command binaries anymore. You need to checkout out the source code and then build it yourself.

[2019-03-11 11:16] yamunadevins commented on #175
While trying to compile the cmd folder , there is no binary executable. Could you please elaborate how to utilize this package.

[2019-03-11 11:49] okartau commented on #175
What do you mean by "compile the cmd folder" ?
I do it like this:
- clone this repository
- type `make` (you need Go building capability)
- after successful build there should be `cmd/csi-sanity/csi-sanity` as the binary (I got a 12MB file)
- copy it to your GOPATH/bin or wherever you want to run it from

[2019-03-11 18:01] ctrox opened #176 "Secrets are missing in ValidateVolumeCapabilitiesRequest"
According to the [specs](https://github.com/container-storage-interface/spec/blob/v1.1.0/lib/go/csi/csi.pb.go#L2228), a request can also contain the secret map.

[2019-03-11 19:11] yamunadevins commented on #175
When i issue make command , this is the issue i am facing

mkdir -p bin
CGO_ENABLED=0 GOOS=linux go build -a -ldflags '-extldflags "-static"' -o ./bin/mock ./mock/main.go
'CGO_ENABLED' is not recognized as an internal or external command,
operable program or batch file.
make: *** [bin/mock] Error 1

My Go env:
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\shanmy\AppData\Local\go-build
set GOEXE

[2019-03-11 19:50] okartau commented on #175
It appears you try build on Windows OS.
The current build setup seems not to be suitable for building on Windows, and that is overall style in many kubernetes-related repositories (actually, without even explicit documenting it), that the build and use is meant on, and verified on Linux OS (not so sure do those repos get verified on other Unix-like systems at all?)
Do you have specific requirement

[2019-03-12 02:52] yamunadevins commented on #175
After switching to linux,
make
mkdir -p bin
CGO_ENABLED=0 GOOS=linux go build -a -ldflags '-X main.version=v1.1.1-11-gb7da8ae -extldflags "-static"' -o ./bin/mock-driver ./cmd/mock-driver
make -C cmd/csi-sanity all
make[1]: Entering directory '/root/csi-test/cmd/csi-sanity'
go test -ldflags "-w -X github.com/kubernetes-csi/csi-test/cmd/csi-sanity.VERSION=v1.1.0-60-gb7da8ae -extldflags '-z relro -z

[2019-03-12 05:03] yamunadevins commented on #175
Thanks for all the inputs

[2019-03-12 05:03] #175 closed

[2019-03-18 11:55] tamalsaha commented on #103
@lpabon / @displague, any updates on this one?

[2019-03-19 16:38] #142 closed

[2019-03-20 08:52] #144 closed

[2019-03-20 14:12] pohly commented on #124
@wackxu are you still working on this?

[2019-03-21 09:49] #176 closed

[2019-03-24 19:01] #118 closed

[2019-03-27 01:00] displague commented on #103
I worked around this problem with a tests-only hack.

https://github.com/linode/linode-blockstorage-csi-driver/blob/e312ce00cf75ed243c4e545d73403c395ff1489d/pkg/common/idhelpers.go#L25-L47

I would still like to see a proper solution so I could include early validation around the requested ids.
Actual Linode users specifying "afakeid" will find that the translated integer value is invalid 99.9999%

[2019-04-26 12:41] alexanderKhaustov opened #194 "csi sanity "Node Service"."should work" test seems to be more restrictive than the spec"
CreateVolumeRequest in the test does not containt AccessibilityRequirements
https://github.com/kubernetes-csi/csi-test/blob/master/pkg/sanity/node.go#L632
which is allowed in the spec:
https://github.com/container-storage-interface/spec/blob/master/lib/go/csi/csi.pb.go#L833
However, in this case "the SP MAY choose where the provisioned volume is accessible from" rather than required to.

If there'

[2019-04-26 15:40] alexanderKhaustov opened #196 "/tmp/csi-mount is sometimes not cleaned up after "Node Service"."should work" test which fails further tests"
Here's csi-sanity output:
------------------------------
Node Service
  should work
  /home/akhaustov/go/src/github.com/kubernetes-csi/csi-test/pkg/sanity/node.go:625
STEP: reusing connection to CSI driver at unix:///tmp/csi.sock
STEP: reusing connection to CSI driver controller at unix:///tmp/csi.sock
STEP: creating mount and staging directories
STEP: creating a single node writer volume
STEP: ge

[2019-04-29 12:46] pohly commented on #143
The conclusion for Kubernetes was that it's better to run unusable tests and then skip them at runtime because that results in some information why a test doesn't run.

/close

[2019-04-29 12:46] #143 closed

[2019-04-29 16:05] pohly commented on #194
csi-sanity simulates a CO with a single node, with (where required) that node name being take from the driver's node info. So I guess the right solution would be to always set AccessibilityRequirements?

Do you think you can come up with a PR?

[2019-04-29 16:05] pohly commented on #194
/help-wanted

[2019-04-29 16:12] pohly commented on #196
The underlying problem is that once a test has failed, csi-sanity won't always be able to clean up. For example, if the driver leaves a mounted volume behind, then the usual `os.RemoveAll` will fail. So the latest code doesn't even try anything more than `os.Remove` and if that fails, any following `os.Mkdir` will fail.

IMHO the right solution is to run each test with its own mount and staging di

[2019-04-30 07:45] alexanderKhaustov commented on #196
Seems like the problem above is that if unmount fails (which happens because it is the second unmount attempt and the folder is already unmounted) then the directory is not deleted. And the test itself is not failing. I'd suggest attempting to remove the folder even if unmounting fails.

I've removed the test setup but it was a recent master version, the day of the post or the previous one

[2019-04-30 07:46] alexanderKhaustov commented on #194
Seems so

In a few days, yeah

[2019-04-30 08:13] pohly commented on #196
alexanderKhaustov <notifications@github.com> writes:

Sorry, I don't follow. If unmounting succeeded, why does removing the
folder fail? `os.Remove` is called.

Also, you are saying that "unmount fails because it is the second
unmount attempt and the folder is already unmounted". This sounds like
the driver isn't idempotent? It's not an error to call
NodeUnpublishVolume twice.

Were you using the

[2019-04-30 15:03] alexanderKhaustov commented on #196
It seemed that remove hasn't been called until after the second unmount attempt and maybe not at all. Still, your objection that driver seems to perform non-idempotently sounds reasonable. I'll look into it once more. Thanks!

Yes, I've been running the tests via the command

[2019-05-03 06:31] sanjid133 opened #197 "Driver test failed after adding volume expansion capacity"
I have added volume expansion capability
[code]
When run suit test getting following error
[code]

[2019-05-07 09:54] pohly commented on #197
Which version of csi-test are you using?

4087ca9f added support for the capability. Is that perhaps incomplete?

[2019-05-14 16:51] #194 closed

[2019-05-17 08:59] sanjid133 commented on #197
@pohly i am using csi spec v1.1.0

[2019-05-17 13:31] pohly commented on #197
And which version of this repo (= csi-test) are you using?

[2019-05-20 10:39] sanjid133 commented on #197
@pohly v2.0.0, which is working now. thanks.

[2019-05-20 10:39] #197 closed

[2019-06-04 09:01] pohly commented on #174
/remove-lifecycle stale

[2019-06-05 04:22] msau42 commented on #106
/lifecycle frozen

[2019-06-05 04:23] msau42 commented on #106
/help

[2019-06-05 04:24] msau42 commented on #94
/lifecycle frozen
/help

[2019-06-05 04:26] msau42 commented on #56
/close

[2019-06-05 04:26] #56 closed

[2019-06-05 04:26] msau42 commented on #108
Doesn't seem like we want to pursue this in the csi spec.
/close

[2019-06-05 04:26] #108 closed

[2019-06-05 04:28] msau42 commented on #149
We no longer include binaries as part of the release so programs will need to be built separately
/close

[2019-06-05 04:28] #149 closed

[2019-06-05 04:28] msau42 commented on #48
Have we implemented all of these test cases?

/lifecycle frozen
/help

[2019-06-05 04:31] msau42 commented on #124
/help

[2019-06-14 08:57] dulltz opened #202 "Test case description is wrong"
In controller.go test, it seems that volume size is decided by `sc.Config.TestVolumeSize` and `DefTestVolumeSize`.
`DefTestVolumeSize` is 10Gi, but following test case desctiption says 1Gi.

https://github.com/kubernetes-csi/csi-test/blob/6738ab2206eac88874f0a3ede59b40f680f59f43/pkg/sanity/controller.go#L444

I think that the description is probably wrong.

[2019-06-27 10:33] Akrog commented on #124
The field is optional and so is the support of listing snapshots, but the token support is not optional for drivers that report the `LIST_SNAPSHOTS` capability. So any driver that supports listing must also support pagination.

The field is optional because you may not care about pagination and want everything returned in one call.  But even if you want pagination, it cannot be present on the firs

[2019-06-28 08:49] Akrog opened #204 "csi-sanity incorrectly testing vol list tokens"
CSI-sanity is making incorrect assumptions about the tokens generated by CSI plugins to do volume listing pagination, so it incorrectly fails on some plugins.

Existing test `should return next token when a limited number of entries are requested` **assumes that `next_token` is an integer** and that it is equivalent to the number of volumes listed:
[code]

But that is not what the CSI spec says.

[2019-07-15 07:26] ZeroMagic opened #207 "[feature request] add a 'skip' option"
Recently, we add the sanity test to find lots of issues in driver implementation.
We think it is very useful. But during testing, we find that there are some scenarios which do not apply to our product.

For example, capacity is not supported in blobfuse driver, so the test `Controller Service CreateVolume [It] should fail when requesting to create a volume with already existing name and different

[2019-07-15 07:28] ZeroMagic commented on #207
/ping @pohly @lpabon

[2019-07-15 07:29] ZeroMagic commented on #207
/cc @andyzhangx

[2019-07-15 07:34] pohly commented on #207
You can use `-ginkgo.skip` to disable tests that don't work for your driver.

[2019-07-16 02:33] ZeroMagic commented on #207
It is awesome! Thanks.

[2019-07-16 02:33] #207 closed

[2019-07-16 15:23] #204 closed

[2019-08-06 20:23] davidz627 commented on #103
/remove-lifecycle rotten

[2019-08-07 21:44] #103 closed

[2019-08-08 14:53] Levp-zadara opened #214 "csi-sanity: some controller and node tests cases try to create a volume, even if plugin has no create volume capability"
#### Brief:
I am developing a CSI plugin, and at first stages I do not provide dynamic volume provisioning API support (which is a valid plugin according to CSI spec). That is, my plugin does not advertise `CREATE_DELETE_VOLUME` Controller Service capability.
But, there are 3 test cases where csi-sanity still sends CreateVolumeRequest to Controller Server.
___
#### Tests output:
[code]
___
#### Te

[2019-09-10 15:52] suneeth51 opened #215 "CSI sanity test failure for ControllerExpand due to missing 'secrets' in the ControllerExpandVolumeRequest"
We have implemented CSI driver plugin as per the SPEC. A few sanity tests (i.e, ControllerExpandVolume) failed with our CSI driver due to missing or empty secrets provided in the ‘ControllerExpandVolumeRequest’. Our CSI driver does check for valid secrets to talk to the backend storage for that particular volume.

I do see that the secrets are specified (though its optional in the SPEC) for other

[2019-09-10 17:32] msau42 commented on #215
Looks like a bug in the new ControllerExpand test.  Would you be able to send a PR to fix it?

/assign @gnufied

[2019-09-10 17:32] msau42 commented on #215
/kind bug

[2019-09-10 18:32] suneeth51 commented on #215
@msau42 I have the fix ready. Shall I create PR with the fix?

[2019-09-10 18:34] gnufied commented on #215
@suneeth51 sure!

[2019-09-22 06:44] wnxn opened #218 "CSI sanity test failure for ControllerExpandVolume due to wrong volume size in ControllerExpandVolumeResponse"
CSI sanity test output reports ExpandVolume test case failed when my storage plugin tested through CSI sanity test v2.2.0. The CSI sanity test expect 11 GB, but my storage plugin returns 20 GB after expanding volume.
My storage system expands volume 10 GB each time. But the sanity test set the `DefTestExpandIncrement` as 1 GB each time. I think we can add a flag in CSI sanity test to allow user to

[2019-09-23 16:33] JacobGros opened #221 "CSI sanity test check the presence of new volumes and absence of deleted ones in the volume list can fail when used with other workloads"
The test (in pkg/sanity/controller.go) steps:
Step 1: The test checks how many volumes are already present:
 vols, err := c.ListVolumes(
                                context.Background(),
                                &csi.ListVolumesRequest{})
                        totalVols := len(vols.GetEntries())

Step 2: The test adds and deletes a volume

Step 3: The test checks how many volumes are

[2019-09-23 16:41] #215 closed

[2019-09-24 07:17] pohly commented on #221
That is correct. Any suggestions for how to solve this?

[2019-09-24 07:25] #218 closed

[2019-09-27 17:02] #196 closed

[2019-10-02 20:58] davidz627 opened #222 "Sanity: ListVolumes "should fail when an invalid starting_token is passed" what is invalid?"
This test makes the assumption that one can distinguish between a valid and invalid token and it also makes the assumption that `invalid-token` is actually an invalid token.

AFAIK there are no universal constraints on what an invalid token actually looks like, for some backends maybe `invalid-token` is a totally ok token and is functionally indistinguisable from `this-is-a-valid-token`.

/cc @dar

[2019-10-02 21:18] davidz627 opened #223 "Sanity: "pagination should detect volumes added between pages" removes volumes it didn't create & other issues"
This test specifically checks for "existing volumes" by doing a `ListVolumes` call then afterwards does `removing all listed volumes`

This means that this test could removes all volumes listed even if the volume was not created by this test. This could cause data loss depending on how a consumer is using CSI sanity.

This brings up a larger problem I have with this test too - either
1) You are co

[2019-10-02 21:18] davidz627 commented on #223
/cc @msau42 @lpabon @pohly @darkowlzz

[2019-10-02 21:33] msau42 commented on #222
We can do a similar thing with the volume-id and have a method where plugins can define their own valid/invalid syntaxes.

/kind bug
/help

[2019-10-02 21:35] msau42 commented on #223
I agree that the test should only remove volumes created by the test.
/kind bug
/help

[2019-10-04 00:26] msau42 commented on #174
/lifecycle frozen

[2019-10-04 00:53] msau42 commented on #221
/help
/kind bug

[2019-10-04 01:01] msau42 commented on #214
/kind bug
/help

[2019-10-06 14:46] ymmt2005 commented on #214
One more test case is in the test for `NodeGetVolumeStats`:
https://github.com/kubernetes-csi/csi-test/blob/477c7e9c91f9aaaba90e734026dfbb8c9f8ac22a/pkg/sanity/node.go#L461

[2019-10-28 14:48] avorima opened #231 "Go mod breaks importing"
Since Go 1.13 (I think) it is required that a `v2` release or higher contain the major version in the module directive (https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher).

Since this is not set, it effectively breaks updating to `v2.3.0`:

[code]

The solution is rather simple, but it may be a breaking change for some users.

[2019-10-28 15:28] pohly commented on #231
Sounds like we should do a v3.0.0 and bump the import paths in the source code and in the `go.mod` file. Agreed?

We were discussing other breaking API changes. That would be a good time to do them.

[2019-10-28 15:49] Ntr0 commented on #231
As I have just created a PR, I can easily update it to bump v3 ;)

[2019-10-28 15:49] Ntr0 commented on #231
https://github.com/kubernetes-csi/csi-test/pull/232

[2019-10-28 16:01] msau42 commented on #231
@pohly right now our infra uses go1.12.1. should we update to 1.13 as well?

[2019-10-31 07:39] wnxn opened #235 "Add snapshot parameters file flag"
When creating snapshot,  VolumeSnapshotClass's parameters will passed through CreateSnapshotRequest.parameters. We could add a flag to pass VolumeSnapshotClass parameters
 in sanity test just like StorageClass parameters.

[2019-11-04 17:23] #231 closed

[2019-11-06 14:01] #235 closed

[2019-11-07 09:15] Ntr0 opened #237 "Release v3.0.0 to make the new major release importable"
Without appropriate tagging it's still not possible to use semantic imports.

[code]

[2019-11-07 09:48] pohly commented on #237
It works when specifically selecting the "master" branch:
[code]

Having said that, I agree that releasing v3.0.0 is urgent. That's why I want to get the API changes merged as soon as possible:
- https://github.com/kubernetes-csi/csi-test/pull/233
- https://github.com/kubernetes-csi/csi-test/pull/234

[2019-11-09 01:13] wnxn opened #238 "Disable gRPC keepalive dial option on default"
**What happened**:

1. When I use csi-sanity test to test my CSI driver through UDS, the gRPC transport is closed in DeleteSnapshot testcase and the sanity test reports failed in the testcase.
[code]

2. After the problem shown as above occuring, the subsequent testcases failed for the TransientFailure.
[code]

**What you expected to happen**:

For the first problem, it is should not report transp

[2019-11-09 01:14] wnxn commented on #238
/assign @pohly

[2019-11-11 07:19] pohly commented on #238
Thanks for the detailed analysis, that helped a lot. The keepalive feature was enabled for testing over TCP because we have some tests in a custom testsuite in the PMEM-CSI driver where we intentionally reboot the target system and gRPC did not detect that without keepalive.

As the comment says (https://github.com/kubernetes-csi/csi-test/blob/d305288bda09cadb1b0008958757ac56722bf60a/utils/grpcuti

[2019-11-11 07:20] pohly commented on #238
/assign

[2019-11-11 08:38] pohly commented on #238
Hmm, but then it still fails for TCP when the driver is slow.

[2019-11-11 08:44] wnxn commented on #238
I did not test it for TCP. Do you reproduce it for TCP?

[2019-11-11 09:20] wnxn commented on #238
I wrote a small program test this issue and reproduce it for TCP just now.
https://github.com/wnxn/gostudy/blob/master/pkg/grpc/csi-client/main.go

- When the driver is slow, it still fails.
[code]

- After I remove the keepalive dial option, it successes.
[code]

[2019-11-11 10:29] #202 closed

[2019-11-11 10:48] pohly commented on #238
Yes. I had to enhance the mock driver first such that it also allows TCP, but then your reproducer fails also in that mode.

Re-reading https://godoc.org/google.golang.org/grpc/keepalive#ClientParameters I found a comment (again) about matching it with the server options. I think when I read that the first time, I interpreted it as "timeout values must match" and assumed that the defaults should b

[2019-11-11 10:49] pohly commented on #237
Also need to fix:
* #238

[2019-11-11 12:22] wnxn commented on #238
Thanks for reporting this upstream. I agree with you that fully understand the problem.
It seems urgently to release v3.0.0. Shall I fix it by making keepalive optional now?

[2019-11-11 15:33] pohly commented on #238
I can do that after https://github.com/kubernetes-csi/csi-test/pull/233 got merged. Otherwise we'll just have merge conflicts.

[2019-11-14 08:41] pohly commented on #237
* update csi-release-tools to get Go 1.13.6

[2019-11-15 11:59] #238 closed

[2019-11-26 23:36] msau42 commented on #124
/reopen
/lifecycle frozen

[2019-12-06 23:34] msau42 commented on #237
3.0.0 is available now.
/close

[2019-12-06 23:34] #237 closed

[2019-12-08 09:57] timoreimann commented on #223
I'd be happy to take a stab at this one.

[2019-12-08 09:59] timoreimann commented on #223
/assign @timoreimann

[2019-12-09 10:57] pohly commented on #223
Note that the test is currently disabled (https://github.com/kubernetes-csi/csi-test/pull/226) because it was so problematic.

[2020-01-02 08:31] min-zh opened #244 "ExpandVolume [Controller Server] "should work": csi.CreateVolumeRequest miss parameter "Prameters" from sc"
https://github.com/kubernetes-csi/csi-test/blob/master/pkg/sanity/controller.go#L2133

[2020-01-08 21:08] davidz627 commented on #222
/remove-lifecycle stale
still relevant

[2020-01-10 14:55] bswartz commented on #174
/unassign

[2020-01-10 14:56] jsafrane commented on #174
/help

[2020-01-13 20:52] taaraora commented on #174
I would like to help with this.

[2020-02-01 02:48] msau42 commented on #221
/lifecycle frozen

[2020-02-01 02:49] msau42 commented on #214
/lifecycle frozen

[2020-02-04 21:20] taaraora commented on #174
/assign @taaraora

[2020-02-07 10:14] Kartik494 commented on #94
@ctrox could you please elaborate in this test -
CreateVolume [Controller Server] [It] should not fail when requesting to create a volume with already exisiting name and same capacity. also fails but as far as I can see this can be fixed by setting TestVolumeSize: 0
 by setting  TestVolumeSize: 0 As volume with already existing name and same capacity name should MUST reply 0 OK with the correspond

[2020-02-12 10:29] Kartik494 opened #248 "Not able to run tests for csi-sanity"
I am not able to run csi-sanity test case,as i am using csi-driver host-path for csi endpoint
root@kmaster:~/csi-test/cmd/csi-sanity# kubectl get svc
NAME                       TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)           AGE
csi-hostpath-attacher      ClusterIP   10.96.104.168   <none>        12345/TCP         27h
csi-hostpath-provisioner   ClusterIP   10.96.12.151    <none>

[2020-02-12 11:12] pohly commented on #248
That hostpath-service is not connected to anything, at least not if it is similar to the one from
https://github.com/kubernetes-csi/csi-driver-host-path/blob/3acaee013dd04c1a88c977b3ec1db86381c6e030/deploy/kubernetes-1.17/hostpath/csi-hostpath-plugin.yaml#L5-L16

You have to run something like
https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/deploy/kubernetes-1.17/hostpath/csi-ho

[2020-02-19 16:18] #174 closed

[2020-02-27 10:19] Kartik494 commented on #248
Hi @pohly after running https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/deploy/kubernetes-1.17/hostpath/csi-hostpath-testing.yaml i am not able to get the expected output as test cases are failing. I've got output
STEP: connecting to CSI driver
• Failure in Spec Setup (BeforeEach) [60.003 seconds]
ListSnapshots [Controller Server]
/root/csi-test/pkg/sanity/tests.go:44
  should r

[2020-02-27 11:21] Kartik494 commented on #248
According to [docs](https://kubernetes-csi.github.io/docs/unit-testing.html) when i unit-test csi-sanity the test `NodePublishVolume should fail when no volume id is provided` should pass but in my environment i got error.Is there is any other way to test CSI driver?

[2020-02-27 13:41] pohly commented on #248
How did you run csi-sanity? It must be configured to connect to the running CSI driver. That part didn't work.

This blog post has a full working example: https://kubernetes.io/blog/2020/01/08/testing-of-csi-drivers/

[2020-03-09 17:03] msau42 commented on #223
/lifecycle frozen

[2020-03-12 09:14] Kartik494 commented on #248
Thanks @pohly  for the blog post https://kubernetes.io/blog/2020/01/08/testing-of-csi-drivers/ .The problem is with unix domain socket.

[2020-03-12 09:14] #248 closed

[2020-04-10 01:01] msau42 commented on #222
/lifecycle frozen

[2020-04-17 16:10] timoreimann opened #260 "Failed tests leak CSI resources"
The vast majority (all?) of the tests in csi-test do not seem to clean up resources properly when an assertion failure occurs. I'm not too familiar with Gomega, but my understanding is that once an `EXPECT` fails, the test execution comes to a halt immediately, so none of the cleanup logic usually done by the end of a test (e.g., deleting volumes or snapshots) gets a chance to execute.

This is a

[2020-04-17 16:11] msau42 commented on #260
/kind bug
/help

[2020-04-20 05:46] timoreimann commented on #260
@pohly you mentioned on Slack that there is some kind of cleanup taking place already. Looking forward to hearing about it.

[2020-04-20 08:57] pohly commented on #260
That code is in https://github.com/kubernetes-csi/csi-test/blob/master/pkg/sanity/cleanup.go

Whenever you see a call to `MaybeRegisterVolume` you can be sure that the volume is going to be deleted even if the test code itself doesn't do it.

[2020-04-20 08:58] pohly commented on #260
Have you encountered a specific test where the cleanup didn't work?

[2020-04-22 09:04] timoreimann commented on #260
@pohly I had experienced the problem when I was running `ListSnapshots`-related tests a few days ago. Oddly, I can't reproduce the issue anymore locally right now, although it seems as if it should be fairly easy to do so: I don't see a register functionality for snapshots, so presumably if snapshots aren't cleaned up, they should possibly affect other tests?
Example: test A creates a snapshot but

[2020-04-22 09:30] pohly commented on #260
Yes. Looks like those tests were written without taking into account how cleanup is supposed to work. So this issue is valid, we just need to be more specific about which tests have to be updated.

[2020-04-22 10:07] timoreimann commented on #260
@pohly at a quick glance, it looks like all `*Snapshot*` tests (e.g., `ListSnapshots`, `CreateSnapshot`) are affected to the extent that create volumes are not registered and snapshots cannot be registered.

Other tests may be affected as well. I spotted the `CreateAndControllerPublishVolume` helper function that creates a volume but does not register it.

AFAICS, there are two TODOs:

1. Ensure a

[2020-04-22 10:23] pohly commented on #260
That sounds useful.

Thanks! I'm not sure whether I can assign it to you, but we'll see:

/assign @timoreimann

[2020-04-28 15:19] NicolasT commented on #260
Running into a similar issue: I have a CSI plugin that's far from complete/spec-compliant, so many tests like `Ensure VolumeId is not provided` are still failing.

Now, when such test fails, it appears `/tmp/csi-mount` gets created but not cleaned up. Any subsequent test which attempts to create the very same directory then fails (`file exists`).

[2020-04-28 15:42] NicolasT commented on #94
Running into something similar for an NFS-backed plugin: `CreateVolume should return appropriate values SingleNodeWrite WithCapacity 1Gi type: Mount` results in `Expected <int64>: 0 to be >= <int64>: 10737418240`.

According to the CSI spec, it should be perfectly legal for my controller plugin to return a `capacity_bytes` of 0 in the returned `Volume`, right?

[2020-04-28 19:51] NicolasT commented on #94
Related: the [`should fail when requesting to create a volume with already existing name and different capacity`](https://github.com/kubernetes-csi/csi-test/blob/b91f2543e6e7231312c951ad43c94478a0455405/pkg/sanity/controller.go#L559) test: when using a storage system with unbounded capacity, the returned `capacity_bytes` of the initial `CreateVolume` request can be 0, and there's not really a reas

[2020-04-28 21:22] NicolasT commented on #94
Hmh, upon re-reading, what I wrote above is *exactly* the initial bug report :blush:

[2020-04-29 06:25] pohly commented on #260
@NicolasT: if the default implementation for directory creation/deletion doesn't work for you, then you can also use scripts. For example, the sanity command runs unprivileged and thus cannot clean up after a privileged CSI driver mounted something inside the directory. But a custom script could use "sudo" to clean up.

Also, in PMEM-CSI, we are using a create script for the directories which uses

[2020-05-06 09:01] NicolasT commented on #222
I failed to see this issue before bringing this to the mailing list. In any case, for reference: https://groups.google.com/forum/#!topic/container-storage-interface-community/01fWLJEIuRQ

[2020-05-31 10:23] #244 closed

[2020-07-29 20:18] timoreimann commented on #260
/remove-lifecycle stale

[2020-07-31 19:03] Jiawei0227 opened #278 "mock CSI driver should log the timestamp of events"
It seems right now, all the events being logged in CSI driver does not have a timestamp. This can make triage k8s e2e test failure quite hard.

/cc @msau42

[2020-08-04 08:36] #260 closed

[2020-08-11 14:40] ktarplee opened #281 "Controller should be optional"
According to the CSI spec, the controller is actually optional.  I would like a way to run the tests without assuming the controller exists.  Only the NodeServer and IdentityServer are present in my OCI plugin.

From the [spec](https://github.com/container-storage-interface/spec/blob/master/spec.md#getplugincapabilities)

      the ControllerService. Plugins SHOULD provide this capability.
      I

[2020-08-12 10:09] pohly commented on #281
That's a valid issue. The controller is needed to create volumes that then can be used during the node operations. Another approach for specifying valid volumes will be needed when testing without controller. Patches welcome...

[2020-08-12 17:29] ktarplee commented on #281
I will work on it.  I might also try to tackle #214 at the same time.

[2020-08-20 05:07] nishchit opened #284 "Support for VolumeSnapshotContent ins csi-test"
I am running single node local Kubernetes cluster using kind. And trying out some experiments on csi snapshots.

I installed mock csi driver and created csi mock storage class to create volumesnapshot suggested here https://github.com/kubernetes-csi/csi-test/tree/master/mock/example

VolumeSnapshot is created as mentioned but VolumeSnapshotContent is not created.

Queries:
1. Does mock csi driver

[2020-08-20 05:08] nishchit commented on #284
/help

[2020-08-20 08:32] nishchit commented on #284
/remove-help

I was able to achieve volumesnapshotcontent using csi host path driver https://github.com/kubernetes-csi/csi-driver-host-path

Closing

[2020-08-20 08:32] #284 closed

[2020-08-24 07:13] #278 closed

[2020-08-26 20:48] xing-yang opened #286 "Remove hard-coded v4 path from csi-test"
We don't need to have hard-coded v4 path any more.

See this example in external-snapshotter on how to get rid of the hard-coded path:
https://github.com/kubernetes-csi/external-snapshotter/pull/307/files#diff-4db863ee6d7849292bac5d2b76d78641

[2020-08-26 20:49] xing-yang commented on #286
/assign @ggriffiths

[2020-08-28 06:10] #286 closed

[2020-09-04 16:12] aleofreddi opened #291 "csi-sanity: "check the presence of new volumes and absence of deleted ones in the volume list" and "pagination should detect volumes added between pages and accept tokens when the last volume from a page is deleted" call `CreateVolume` without parameters"
"check the presence of new volumes and absence of deleted ones in the volume list" and "pagination should detect volumes added between pages and accept tokens when the last volume from a page is deleted" call `CreateVolume` without parameters, disregarding the `csi.testvolumeparameters` flag.

[2020-09-08 12:09] #291 closed

[2020-09-16 09:10] min-zh opened #293 "CSI sanity test failure: ExpandVolume [Controller Server]- Should work."
Missing 'parameters' which should be set 'sc.Config.TestVolumeParameters' in the CreateVolumeRequest in the step of 'create Volume`

[2020-09-18 08:00] min-zh commented on #293
v3.1.1 has this issue. When I try to fix it, I found it has been fixed in master.

[2020-09-18 08:00] #293 closed

[2020-09-19 00:25] gohilankit opened #294 "[Question] Testing multi-node set up"
Is it possible to run sanity tests on a multi-node k8s cluster? I don't see any way to specify node endpoint as a runtime argument.

When I currently run the tests on a multi-node cluster, I get the error `unknown service csi.v1.Node`. How can this be resolved?

[code]

Also, I noticed as part of clean up after each test, the delete volume is calling NodeUnpublishVolume & NodeUnstageVolume.
I don'

[2020-09-21 09:41] pohly commented on #294
The `--csi.endpoint` is for node and controller unless the controller is specified separately.

The endpoint that you connected to doesn't implement the CSI node API.

True. When testing just the controller part of the CSI driver that won't work.

Which version of csi-sanity are you using? There have been some changes around this in v4.x

[2020-09-21 21:17] gohilankit commented on #294
I'm using the latest(build from master branch). I suspect 4.0.1 that was released couple of weeks back will have the similar behavior.

I now used both --csi.endpoint & --csi.controllerendpoint, and now able to access Node service. Hence, closing the issue for now.
But I still feel that Node endpoints should not be invoked while testing just the CSI controller RPCs.

[2020-09-21 21:17] #294 closed

[2020-09-24 20:15] gohilankit opened #295 "NodeExpandVolume test missing VolumeCapability parameter"
In one of the NodeExpandVolume tests for checking when node-expand is called after node-publish, VolumeCapability should be passed as a parameter when invoking ControllerExpandVolume & NodeExpandVolume.

https://github.com/kubernetes-csi/csi-test/blob/0ddc0e0dd7df52b42db71e48c890fd3c254add10/pkg/sanity/node.go#L739

CSI drivers may want to use volume's access type and/or mode to decide a certain p

[2020-11-11 19:04] msau42 opened #304 "Verify that publish targetPath exists after NodePublish"
SPs are responsible for making the targetPath available during NodePublish. We should validate that the the targetPath exists after a success.

Our mock driver doesn't create the publish path and was depending on the Kubernetes bug to do it.

/kind feature
/help

[2020-11-11 19:05] msau42 commented on #304
The mock driver is being fixed in https://github.com/kubernetes-csi/csi-test/pull/303. This is about enhancing the test.

[2020-11-11 19:15] msau42 opened #305 "mock driver cleanup"
Unrelated followup questions while reviewing https://github.com/kubernetes-csi/csi-test/pull/303

1. https://github.com/kubernetes-csi/csi-test/blob/0ae097d16a922f7d0e4192d53a988a646b3c09b9/mock/service/node.go#L77 We set a NodeStage key. Should we validate that the key and staging directory are consistent in NodePublish?
2. https://github.com/kubernetes-csi/csi-test/blob/0ae097d16a922f7d0e4192d53

[2020-11-11 21:58] msau42 commented on #304
/reopen
to track enhancing the test case

[2020-11-12 21:56] msau42 opened #310 "Add Windows support to csi sanity"
CSI sanity has been useful for making sure that driver implementations conform to the csi spec.

Right now controller and node calls called together. We may need to add an ability to run just the node tests with preprovisioned volumes.

[2020-11-12 21:57] msau42 commented on #310
/assign @ddebroy @jingxu97

[2021-01-18 07:19] tikolsky opened #316 "LifeCycle test fails since 'unpublish' is not run"
On branch master - in "volume lifecycle" test (func VolumeLifecycle), seems like the last method running is ControllerPublishVolumeRequest and nothing after that, which causes the test to fail since it expects unpublish.

on the other hand, on branch release-3.1, Lifecycle tests pass.

This is the failure from master branch:

[code]

[2021-01-18 15:41] pohly commented on #316
@timoreimann is this perhaps related to your cleanup changes?

/help wanted

[2021-01-18 15:42] pohly commented on #316
/help

[2021-01-18 18:02] timoreimann commented on #316
I wonder if #297 (which I thought was long merged but I just realized still have to follow up on) fixes this problem.

[2021-02-03 10:52] pohly opened #319 "snapshots and pvcs: test and support arbitrary deletion order"
From https://github.com/kubernetes-csi/csi-test/pull/297#discussion_r568520680:

We discussed this a bit further on Monday. @msau42 pointed out that it is valid when a CSI driver refuses to delete PVCs that have snapshots. It is *also* valid to refuse deleting snapshots when there is still a PVC. In other words, a CSI driver only needs to support *one* order of deletions, but not both.

This means

[2021-02-03 10:53] pohly commented on #319
/assign @timoreimann

[2021-02-03 12:14] timoreimann commented on #319
/assign

[2021-02-09 06:25] pzheng1025 opened #323 "List volume  : should fail when an invalid starting_token is passed"
The error log is
List volume  
   should fail when an invalid starting_token is passed [It]

  /go/src/github.com/datenlord/datenlord/csi-test/pkg/sanity/controller.go:193
    Expected
        <codes.Code>: 3
    to equal
        <codes.Code>: 10

Question:
What is the reason that for this case the gRPC status code should be ABORTED instead of INVALID_ARGUMENT?

[2021-02-09 08:10] pohly commented on #323
Zheng Pan <notifications@github.com> writes:

The spec contains ABORTED for this case:
https://github.com/container-storage-interface/spec/blob/master/spec.md#listvolumes-errors

Invalid starting_token 	10 ABORTED 	Indicates that starting_token is not valid.

[2021-02-10 22:56] pzheng1025 commented on #323
Thank you for sharing the spec. I have gone through that.
Could you share some sights about why it should return ABORTED instead of INVALID_ARGUMENT like other "invalid argument" cases?

[2021-02-11 07:53] pohly commented on #323
Zheng Pan <notifications@github.com> writes:

I don't know for sure. I suppose the spec authors wanted to distinguish
between "invalid argument" = "your program is broken" and "invalid
token" = "your program is fine, just get a new token".

[2021-02-12 00:15] pzheng1025 commented on #323
Thank you.

[2021-02-12 00:15] #323 closed

[2021-02-12 19:14] jsafrane opened #325 "Add test for filesystem expansion after snapshot restore / clone"
As described in https://github.com/container-storage-interface/spec/pull/452, CSI driver should resize filesystem on a volume when restoring a snapshot / cloning a volume to a bigger volume.

`csi-test` should test this behavior. The test should be optional, at least initially, because we expect a lot of drivers to fail this check.

[2021-02-12 19:18] jsafrane commented on #325
Idea:
1. Create a volume.
2. NodePublish it.
2. Note filesystem size via `NodeGetVolumeStats`.
3. Take snapshot.
4. Restore the snapshot to a bigger volume.
5. NodePublish it.
6. Compare the current filesystem size via `NodeGetVolumeStats`.

The comparison must be tolerant to rounding errors or some growth of the filesystem metadata.

[2021-02-15 15:54] matancarmeli7 opened #326 "Create staging_target_path directory on the host"
Hi, according to the spec the [staging_target_path](https://github.com/container-storage-interface/spec/blob/v1.3.0/spec.md#nodestagevolume)  should be created by the CO and not by the driver.
can you help me with that by adding the creation of the staging_target_path as part of the tests if it doesn't exist?
This is the failure from the master branch:

[code]

thanks

[2021-02-21 22:23] #295 closed

[2021-03-03 11:52] pohly commented on #326
How are you running csi-sanity?

Where does `/host/tmp` come from? That's not the default. Are you sure the csi-sanity binary and your driver are using the same `/host/tmp`?

[2021-03-31 09:35] godgogo opened #333 "[Bug] Missing CapacityRange field in CreateVolumeRequest"
https://github.com/kubernetes-csi/csi-test/blob/e7ae15ffcf17548410a7c033f24013e42b71d1f6/pkg/sanity/controller.go#L969-L976

https://github.com/kubernetes-csi/csi-test/blob/e7ae15ffcf17548410a7c033f24013e42b71d1f6/pkg/sanity/node.go#L513-L527

[2021-04-01 02:47] godgogo commented on #333
Sorry, I didn't read spec carefully, the field is optional.

[2021-04-01 02:47] godgogo commented on #333
Sorry, I didn't read spec carefully, the field is optional.

Plugin MAY choose an implementation-defined capacity range.

[2021-04-01 02:47] #333 closed

[2021-04-05 08:56] ArbelNathan commented on #316
@timoreimann even after the branch was merged, we are still getting that error

[2021-04-05 10:56] timoreimann commented on #316
@ArbelNathan is your driver possibly affected by the fact that cleanup currently only happens in LIFO order? Some drivers may require FIFO order which #319 is meant to address (and that I should find some time to work on soon).

If that's not the case, then it might be a different problem. In that case, a dedicated issue would be appreciated if yet missing.

[2021-04-05 10:57] timoreimann commented on #319
I'll try to work on this one soon.

[2021-04-06 09:23] ArbelNathan commented on #316
this issue is about a simpler scenario than snapshots (though our driver requires LIFO order) - DeleteVolume is called before controller unpublish.
so it is indeed a different problem, and this issue is dedicated to that problem.

[2021-04-10 21:05] #305 closed

[2021-04-11 00:08] #304 closed

[2021-04-11 23:31] #310 closed

[2021-04-20 09:59] pohly opened #335 "ListSnapshot: tests are not precise"
All of the "should return empty when" tests have a conceptual problem: the don't ensure that there are snapshots to return.
In other words, a broken driver that doesn't check the snapshot or source volume ID and always returns all current snapshots passes the test because the empty list is the expected outcome.

Example:
https://github.com/kubernetes-csi/csi-test/blob/a251c44fd49d9eedd55a40b71e5da

[2021-04-20 13:00] xing-yang commented on #335
This sanity test assumes the source volume must exist if there are still snapshots on that volume.  While this is true for some storage systems, it is not true for others.  I think the sanity test needs to be enhanced.

[2021-04-21 17:44] gnufied opened #336 "Extend NodeUnpublish test to verify cleanup of node_publish path"
It is expected that CSI driver will be responsible for removal of node_publish path. We don't have any sanity tests that verify this behaviour.

[2021-04-21 17:44] gnufied commented on #336
cc @andyzhangx @msau42

[2021-04-21 18:16] gnufied commented on #336
cc @dobsonj

[2021-04-21 18:18] dobsonj commented on #336
I'll take this one

[2021-04-26 07:43] jichenjc opened #337 "update from v3 (v3.1.0) to v4.1.0 lead to grpc naming issue"
I tried to upgrade from v3 (v3.1.0) to v4.1.0 in order to test csi spec 1.3.0
but seems such upgrade triggered following error
[code]

someone also reported GoogleCloudPlatform/cloud-foundation-toolkit#902 at other issues
do we have workaround for this?

[2021-04-26 08:51] jichenjc commented on #337
looks like it's not related...

[2021-04-26 08:51] #337 closed

[2021-05-05 17:59] #336 closed

[2021-07-05 18:27] timoreimann commented on #316
/remove-lifecycle stale

[2021-07-06 09:25] pohly commented on #319
/remove-lifecycle stale

@timoreimann ping...

[2021-07-12 20:17] #325 closed

[2021-07-14 11:51] cospotato commented on #316
Hello @timoreimann ! according to [spec](https://github.com/container-storage-interface/spec/blob/master/spec.md#deletevolume-errors). `DeleteVolume` RPC will error when volume **in_use**. So i wonder that what is the interpretation of **in_use** in Kubernetes-csi ? For example, if i `ControllerPublishVolume` to the specific node, does it mean the Volume **in_use** ?

[2021-07-27 06:47] tyichye19 opened #346 "Resource cleanup failed due to fast create-delete process"
In some storage systems when trying to create a volume from an existing volume we have to wait for the copy process to be finish before we try to delete one of the volumes.
The community tests does not wait and therefor some tests sometimes fail on Teardown step due to fast create-delete process.
Is there any test configuration that we can use in order to wait before executing the Teardown step an

[2021-07-27 16:34] msau42 commented on #346
I believe the CreateVolume() call should not return until the volume is ready.

[2021-07-27 16:53] tyichye19 commented on #346
It's not part of the SPEC and therefore the CSI driver is not waiting for the storage.
It's the client's responsibility to check the volume status on his storage.

[2021-07-27 17:10] msau42 commented on #346
I think there is an implicit assumption that if a call returns success, that means the operation is complete and volume is ready to use. The only exception is when taking a snapshot, which is explicitly called out in the spec.

cc @bswartz @xing-yang
Do you think we need to make this explicit?

[2021-07-27 17:52] bswartz commented on #346
Yeah my understanding is that, if you create volume B from volume A, and the CreateVolume call returns success, you can immediately call DeleteVolume on A and volume B should be fine. If this isn't clear we can sharpen up the language.

No matter what we say, the driver can play games if it wants to background some operations, but that's entirely on the driver's end. It still has to pretend to suc

[2021-07-27 18:15] bswartz commented on #346
Do we have a section somewhere for "implementer notes" where we can provide advice for how to deal with some of these pitfalls? I think the spec and existing sidecar implementations are clear enough, but I've spent a lot of time on this stuff. New implementers would benefit from a "top 10 pitfalls" type of list somewhere

[2021-07-27 18:27] xing-yang commented on #346
We can add these to CSI driver docs?

[2021-07-27 19:53] msau42 commented on #346
Near the top of https://github.com/container-storage-interface/spec/blob/master/spec.md, there's descriptions on general error handling, timeouts, idempotency, etc. That may be a good place to add something.

[2021-07-31 14:20] #326 closed

[2021-08-03 11:01] oriyarde commented on #346
I think there is a nuance in the meaning of "is ready to use" here.
In our storage system, a volume clone can be ready for I/O as soon as it is created, but its source volume cannot be deleted until the background copy is complete.
so this suggested implementation requirement here would be a disadvantage for our users.

could we we allow both approaches in the spec, as was done for snapshots?

[2021-08-11 09:28] ArbelNathan commented on #316
we are still getting the same error, is there any reason why the unpublish is not called before trying deleting the volume?

[2021-09-17 18:16] pohly commented on #335
/reopen
/lifecycle-frozen

[2021-09-17 18:17] pohly commented on #335
/remove-lifecycle rotten

[2021-09-17 18:17] pohly commented on #335
/lifecycle frozen

[2021-10-04 12:01] pohly commented on #319
/remove-lifecycle stale
/lifecycle frozen

[2021-10-14 07:23] mikifex opened #354 "Ginko External E2E Tests hangs or produce inconsistent JUnit report"
Hi,
when using Ginkgo to run in parallel External E2E tests the console logs correct report.
but when it generates the Junit Report sometimes it hangs sometimes the report is not consistent with console output.

Here mostly the commend we executed:

./ginkgo -p -v \
         -focus='External.Storage' \
         -skip='\[Feature:|\[Disruptive\]|\[Serial\]' \
         ./e2e.test \
         -- \

[2021-10-14 16:21] mikifex commented on #354
Not sure if something not suppoerted but i was specifying -reportFile flag. In this file the report was inconsistent with console output.

Removing such option when i run

ginkgo -p -focus='External.Storage' -skip='\[Feature:|\[Disruptive\]|\[Serial\]'
             external-e2e/e2e.test -- -report-dir=/tmp/ -report-prefix=prefix
             -storage.testdriver=${env.PWD}/test/external-e2e/test-dr

[2021-10-24 15:50] pohly opened #356 "ListSnapshot: support secrets"
https://github.com/kubernetes-csi/csi-test/blob/b9a7786589336fd54e8e1d3a1fa01df1f63c1d8f/pkg/sanity/sanity.go#L39-L51 does not have an entry for ListSnapshot and invocations of that function in https://github.com/kubernetes-csi/csi-test/blob/master/pkg/sanity/controller.go lack secrets.

This should be added because the spec allows it and drivers may need it.

/help

[2021-11-05 22:10] llabordehpe commented on #316
I have been dealing with this same problem for the last couple days where my CSI driver fails the tests "volume lifecycle should work" and "volume lifecycle should be idempotent" because the csi-sanity tool calls DeleteVolume before ControllerUnpublishVolume in the cleanup path.
I traced back the problem to this commit from last year, which unsurprisingly dealt with the cleanup of created resource

[2021-11-17 22:19] jskazinski commented on #356
Just letting other knows, I have made changes to address this issue and I am working on a pull request. My ListSnapshots tests are now getting the correct secrets.

[2021-12-01 14:26] oriyarde commented on #346
/remove-lifecycle rotten

[2021-12-08 18:15] #356 closed

[2022-01-17 15:42] ArbelNathan commented on #316
@llabordehpe can you be more specific on the cause of the problem?
maybe we could donate to the project and open a PR with a fix.

[2022-03-01 14:38] oriyarde commented on #346
/remove-lifecycle stale

[2022-03-13 10:10] ArbelNathan commented on #316
Do we even know that unpublish (in cleanup only) is working?
do we have a job that its cleanup that contains unpublish? (besides volume LifeCycle)

[2022-03-14 10:34] #316 closed

[2022-03-17 13:20] #354 closed

[2022-05-31 12:37] oriyarde commented on #346
I guess we'll have to support source deletion before the background copy is completed

[2022-08-11 14:38] outscale-mdr opened #388 "NodeExpandVolume test checks optional fields"
Hello,

I've seen that this [test](https://github.com/kubernetes-csi/csi-test/blob/ac644842c1a03ec828b7473d2e538d4462074455/pkg/sanity/node.go#L807) checks if `CapacityBytes` returned by `NodeExpandVolume`  is correct. However in the CSI spec, this is just [optional](https://github.com/container-storage-interface/spec/blob/master/spec.md#nodeexpandvolume).

Best regards,
Maxime

[2022-08-11 15:46] gnufied commented on #388
I think this may have been an oversight.

[2022-08-12 05:56] pohly commented on #388
@outscale-mdr: can you perhaps prepare a PR?

[2022-08-12 07:30] outscale-mdr commented on #388
Yes sure, I will see what I can do

[2022-08-12 07:53] outscale-mdr commented on #388
Actually, I mixed between controllers and nodes. The code is correct because the check is done for ControllerExpandVolume and not for NodeExpandVolume.

Nothing to do, sorry for that !

[2022-08-12 07:53] #388 closed

[2022-08-20 13:51] #346 closed